<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" th:href="@{/styles/stylesheet.css}">
    </div>
</head>
<body>
<div th:fragment="header">
    <h2>MedManagement - Administration</h2>

    <form id="form1" th:action="@{/showUsers}" method="get"></form>
    <form id="form2" th:action="@{/createUser}" method="get"></form>
    <form id="form3" th:action="@{/logout}" method="post"></form>

    <button form="form1" type="submit">Show users</button>
    <button form="form2" type="submit">Create user</button>
    <button form="form3" type="submit">Logout</button>

</div>

</body>
</html>