<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create drug</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/stylesheet.css}">
</head>
<body>

<h3>Change password</h3>

<p>Password could not be changed. Either the two passwords entered differ or were empty.</p>
<p>Please try again.</p>

<input id="marginTop" class="button" type="button" onclick="window.location.replace('/medmanagement/changePassword')" value="Ok" />

</body>
</html>